<div class="post-hero{{^if feature_image}} is-no-image{{/if}}">
	{{#if feature_image}}
	<div class="post-hero-media">
		{{>images/post_image}}
		<div class="post-hero-overlay" aria-hidden="true"></div>
	</div>
	{{/if}}
	<div class="post-hero-wrap global-padding">
		<div class="post-hero-content">
			{{^has visibility="public"}}<div class="post-tags global-tags">{{>members/visibility_label}}</div>{{/has}}
			<div class="post-meta-breadcrumb">
				<a href="/resources/">Resources</a>
				<span>→</span>
				{{#if primary_tag}}<a href="{{primary_tag.url}}">{{primary_tag.name}}</a>{{/if}}
				<span>•</span>
				<span class="reading-time">{{reading_time}} min read</span>
			</div>
			<h1 class="post-title global-title">{{title}}</h1>
			{{#if custom_excerpt}}
			<p class="post-excerpt global-excerpt">{{custom_excerpt}}</p>
			{{/if}}
			{{#if tags}}<div class="post-tags global-tags">{{tags limit="all" separator=""}}</div>{{/if}}
			<div class="post-meta-wrap">
				{{>meta show_all_option=true}}
				{{>posts/share is_header=true}}
			</div>
		</div>
	</div>
	{{#if feature_image_caption}}
	<div class="post-hero-caption global-padding">{{feature_image_caption}}</div>
	{{/if}}
</div>
