<div class="post-header is-minimal">
	<div class="post-header-wrap global-padding{{#if is_custom}} is-center{{/if}}">
		<div class="post-header-content">
			{{^if is_custom}}
			{{^has visibility="public"}}<div class="post-tags global-tags">{{>members/visibility_label}}</div>{{/has}}
			{{/if}}
			<div class="post-meta-breadcrumb">
				<a href="/resources/">Resources</a>
				<span>→</span>
				{{#if primary_tag}}<a href="{{primary_tag.url}}">{{primary_tag.name}}</a>{{/if}}
				<span>•</span>
				<span class="reading-time">{{reading_time}} min read</span>
			</div>
			<h1 class="post-title global-title">{{title}}</h1>
			{{#if custom_excerpt}}
			<p class="post-excerpt global-excerpt">{{custom_excerpt}}</p>
			{{/if}}
			{{#if tags}}<div class="post-tags global-tags">{{tags limit="all" separator=""}}</div>{{/if}}
			{{^is "page"}}
			<div class="post-meta-wrap">
				{{>meta show_all_option=true}}
				{{>posts/share is_header=true}}
			</div>
			{{/is}}
		</div>
	</div>
</div>
