<footer class="footer-section global-footer">
	{{>members/subscribe_form is_box=true is_footer=true}}
	{{#match @custom.cta_intensity "Subtle"}}
	{{>cta-box intensity="Subtle"}}
	{{/match}}
	{{!-- Show member CTA in footer if Footer Only mode is selected --}}
	{{#is "post"}}
	{{#match @custom.member_cta_style "Footer Only"}}
	{{^if access}}
	<div class="footer-member-cta global-padding">
		{{>members/cta}}
	</div>
	{{/if}}
	{{/match}}
	{{/is}}
	<div class="footer-wrap global-padding">
		<div class="footer-content">
			<div class="footer-logo-wrap">
				<div class="global-logo is-footer">{{>logo}}</div>
				{{#if @site.description}}
				<p class="footer-description">{{@site.description}}</p>
				{{/if}}
			</div>
			{{>members/subscribe_form is_button=true}}
		</div>
		<div class="footer-nav">
			{{#if @site.secondary_navigation}}
			{{navigation type="secondary"}}
			{{/if}}
		</div>
		<div class="footer-copyright">
			&copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>.copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>.<br>Crafted with care in Ontario, Canada 🇨🇦
			{{#if @custom.footer_copyright}}
			{{{@custom.footer_copyright}}}
			{{else}}
			{{/if}}
		</div>
	</div>
</footer>