
{{#if is_mobile}}
<span class="header-search search-open is-mobile" data-ghost-search>{{>icons/site/search}}</span>
{{else if is_desktop}}
<li class="header-search search-open is-desktop" data-ghost-search>{{>icons/site/search}}</li>
{{/if}}
{{#if is_hero}}
{{#match @custom.hero_options "Search box (Flat style)"}}
<div class="hero-search is-flat" data-ghost-search>
	<span>{{t "Look up a road name, route name, or town!"}}</span><span class="global-dynamic-color">{{>icons/site/search}}</span>
</div>
{{else match @custom.hero_options "Search box (Shadow style)"}}
<div class="hero-search is-shadow" data-ghost-search>
	<span>{{t "Look up a road name, route name, or town!"}}</span><span class="global-dynamic-color">{{>icons/site/search}}</span>
</div>
{{else match @custom.hero_options "Search box (Linear style)"}}
<div class="hero-search is-linear" data-ghost-search>
	<span>{{t "Look up a road name, route name, or town!"}}</span><span class="global-dynamic-color">{{>icons/site/search}}</span>
</div>
{{/match}}
{{/if}}